 html, 
 body, 
 #map-canvas {
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        left: 10px;
      }
.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

#s-input{
        width:  400px;
        margin-left: 12px;
      }

#pac-input {
        background-color: #fff;
        font: Roboto 15px 300;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

#pac-input:focus {
        border-color: #4d90fe;
      }

.pac-container {
        font-family: Roboto;
      }

#type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }
#type-selector label {
        font: Roboto 13px 300;
        
      }

#listbx{
        position: absolute;
        font: Roboto 9px;
        top: 90px;
        left: 10px;
        z-index: 3;
      }

#listbx1{
        position: absolute;
        font: Roboto 9px;
        left: 10px;
        height: 235px;
        z-index: 3;
        overflow-y: auto;
     }

#i{
        position: absolute;
        font: Roboto 9px;
        height: 90px;
        top: 550px;
        background-color: white;
        overflow: auto;
        display: none;
      }
      