 html, body, #map-canvas {
        height: 90vh;
        width: 95vw;
        margin: 0px;
        padding: 0px
        left: 10px;
      }
      .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }
       #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

      #listbx{
        position: absolute;
        font-family: Roboto;
        top: 40px;
        left: 10px;
        z-index=3;
        font-size: 9px;
      }

       #listbx1{
        position: absolute;
        font-family: Roboto;
        left: 10px;
        height: 235px;
        z-index=3;
        font-size: 9px;
        overflow-y: auto;
          }

        #i{
          position: absolute;
          font-family: Roboto;
          height: 90px;
          top: 550px;
          font-size: 9px;
          background-color: white;
          overflow: auto;
        }
      